<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/spa.js"></script>
    <title>Registro de movimientos de
        criptomonedas</title>
    


</head>
<body class = "container">
    <header>
        <div class="container">
            myCRYPTO
        </div>
        
    </header>
    <section id="where_covers">
        <article id="movements">
            <table id="movements_table">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>From</th>
                    <th>Cantidad</th>
                </tr>
            </table>
        </article>
        <article id="investment">
            
        </article>
        <article id="business" class="inactive">
            
        </article>



    </section>


    <footer>
        <div  class="container">
            &copy; 2022 - RMR
        </div>
    </footer>
    
</body>
</html>